@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --clr-primary: #4682b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--clr-primary);
}

section {
  background: #fff;
  border-radius: 7px;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}

.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}

.tools-board .row {
  margin-bottom: 20px;
}

.row .options {
  list-style: none;
  margin: 10px 5px;
}

.row .options .option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.option:is(:hover, .active) img {
  filter: brightness(0) saturate(100%) invert(46%) sepia(58%) saturate(451%) hue-rotate(165deg) brightness(91%) contrast(89%);
}

/* for span or label */
.option :where(span, label) {
  color: dimgray;
  padding-left: 10px;
  cursor: pointer;
}

/* for span or label on hover */
.option:is(:hover, .active) :where(span, label) {
  color: var(--clr-primary);
}

.option #fill-color {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

#fill-color:checked~label {
  color: var(--clr-primary);
}

.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

#size-slider:focus {
  outline: none;
}

.colors .options {
  display: flex;
  justify-content: space-between;
}

.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}

.colors .option:nth-child(1) {
  background: #fff;
  border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
  background: #000;
}

.colors .option:nth-child(3) {
  background: #E02020;
}

.colors .option:nth-child(4) {
  background: #6DD400;
}

.colors .option:nth-child(5) {
  background: var(--clr-primary);
}

.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
  border-color: #ccc;
}

.option #color-picker {
  opacity: 0;
  cursor: pointer;
}

.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  background: none;
  padding: 11px 0;
  margin-bottom: 13px;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .clear-canvas {
  color: gray;
  border: 1px solid gray;
  transition: all 0.3s ease;
}

.clear-canvas:hover {
  color: #fff;
  background: var(--clr-primary);
}

.buttons .save-img {
  background: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}

.drawing-board {
  flex: 1;
}

.drawing-board canvas {
  height: 100%;
  width: 100%;
}